<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Resources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Resources.Properties.Settings>
            <setting name="Veritrade_SentinelPeru_SentinelWS02" serializeAs="String">
                <value>http://www2.sentinelperu.com/ws/asentinelws02.aspx</value>
            </setting>
            <setting name="FrontEnd" serializeAs="String">
                <value>http://www.veritrade.info</value>
            </setting>
            <setting name="Veritrade_VeritradeAdmin_Seguridad" serializeAs="String">
                <value>http://business.veritrade.info/VeritradeAdmin/Seguridad.asmx</value>
            </setting>
            <setting name="IP_Veritrade" serializeAs="String">
                <value>200.48.77.66</value>
            </setting>
            <setting name="Veritrade_VeritradeServicios_ServiciosCorreo"
                serializeAs="String">
                <value>http://25.80.119.250/VeritradeServicios/ServiciosCorreo.asmx</value>
            </setting>
        </Resources.Properties.Settings>
    </applicationSettings>
</configuration>