$color-primary: #2d3b61;
$color-secondary: #54ace6;
$color-alternative: #7386ae;

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #7a8090;
$color-tropical: #C9E7F8;
$color-blue: #30A7E5;

$color-button-primary: #7dd614;
$color-button-seconday: #54b6e8;
$color-button-alternative: #2d3b61;
$color-button-delete: #FE9B38;

$color-border-primary: #598497;
$color-border-seconday: #559C0E;
$color-border-alternative: #e7e7e7;
$color-border-delete: #CC7A00;

$color-button-filter-primary: #f5c223;
$color-button-filter-secondary: #54b6e8;

$color-header: #212934;
$color-menu: #E2EFF5;
$color-item-nav: #4a6a8a;
$color-info: #9c9c9c;

.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-alternative {
    color: $color-alternative;
}
