@charset "utf-8";

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('/Fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('/Fonts/ProximaNova-Light.otf') format('opentype'), url('/Fonts/ProximaNova-Light.woff') format('woff'), url('/Fonts/ProximaNova-Light.ttf') format('truetype'), url('/Fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
}

@font-face {
    font-family: 'ProximaNova-LightIt';
    src: url('/Fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'), url('/Fonts/ProximaNova-LightIt.otf') format('opentype'), url('/Fonts/ProximaNova-LightIt.woff') format('woff'), url('/Fonts/ProximaNova-LightIt.ttf') format('truetype'), url('/Fonts/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/Fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('/Fonts/ProximaNova-Regular.otf') format('opentype'), url('/Fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'), url('/Fonts/ProximaNova-Regular.ttf') format('truetype'), url('/Fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('/Fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('/Fonts/ProximaNova-Bold.otf') format('opentype'), url('/Fonts/ProximaNova-Bold.woff') format('woff'), url('/Fonts/ProximaNova-Bold.ttf') format('truetype'), url('/Fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('/Fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('/Fonts/ProximaNova-Semibold.otf') format('opentype'), url('/Fonts/ProximaNova-Semibold.woff') format('woff'), url('/Fonts/ProximaNova-Semibold.ttf') format('truetype'), url('/Fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    src: url('/Fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/Fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('/Fonts/OpenSans-Semibold.ttf') format('truetype');
}
