.media-body span {
  font-family: ProximaNova-Bold;
  font-size: 22px;
  line-height: 19px;
  color: #212934; }

.excel_buttton {
  width: 30px;
  height: 30px;
  background-image: url("/Content/Images/bot_excel_off.png");
  background-position: center;
  background-size: 100%;
  border: none;
  background-color: transparent; }
  .excel_buttton:hover {
    background-image: url("/Content/Images/bot_excel_over.png"); }

.chart-tittle {
  font-family: ProximaNova-Bold;
  font-size: 13px;
  line-height: 13px;
  color: #212934; }

.resumen-content {
  height: 255px; }
  .resumen-content .resume-text {
    text-align: center;
    font-size: 29px;
    color: #30a7e5;
    letter-spacing: -0.2pt; }
    .resumen-content .resume-text span {
      display: block;
      font-size: 17px;
      line-height: 23px;
      color: #212934; }

.data-content {
  border: 1px solid #58A7E5; }
  .data-content .graphic-content {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    display: inline-block; }

.border-media {
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9; }

.media-space {
  padding-left: 16px;
  padding-right: 16px; }

.media-title-periodSummary {
  margin-bottom: 20px !important; }

/*
    Styles for filters
*/
.typeUnit-analyzeIn label.radio-inline {
  padding-top: 5px !important; }

.filtro-periodo input {
  pointer-events: none;
  padding-left: 5px !important;
  border-radius: 0 !important;
  width: 78px !important; }

.filtro-periodo .input-group-addon {
  border-radius: 0 !important;
  width: 0 !important; }

.filtro-periodo .filtro-periodo-anio {
  text-align: center; }

.div-filtro-periodo {
  margin-right: 25px !important; }

.opcion-periodo {
  margin-top: 0 !important; }

.btnViewCharts {
  margin-top: 0 !important; }

.filtersMyProducts {
  padding-bottom: 0 !important; }

/*Modal  Ver Registros*/
.descRecordsFound {
  font-family: ProximaNova-LightIt;
  font-size: 11px;
  line-height: 20px;
  color: #9c9c9c;
  margin-right: 10px; }

.title-period-summary {
  margin-top: 7px; }

.title-container {
  padding-bottom: 8px !important; }

.title-with-theme p {
  display: inline; }

.title-with-theme .group-select-themes {
  display: inline; }
  .title-with-theme .group-select-themes .select-themes {
    padding-top: 2px;
    padding-bottom: 2px; }

.themes-piechart {
  margin-right: 10px; }

@media all and (max-width: 309px) {
  .periodo-ini .filtro-periodo {
    margin-bottom: 10px !important; } }

@media all and (max-width: 374px) {
  .table-cell {
    width: 100%; }
  .resumen-content {
    height: 100%; }
  .border-media {
    border-left: none;
    border-right: none; }
  .media-space {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15%;
    padding-right: 15%; }
  .div-filtro-periodo-busqueda {
    padding-left: 15px; }
  .periodo-ini {
    clear: both; }
  .div-opcion-periodo {
    width: 50%; }
  .no-padding-left {
    padding-left: 15px !important; }
  .typeUnit-analyzeIn {
    padding-left: 15px !important;
    margin-top: -5px; }
  .divVerGraficos {
    padding-left: 8px !important;
    margin-top: 10px; } }

@media all and (min-width: 375px) and (max-width: 494px) {
  .div-filtro-periodo-busqueda {
    padding-left: 15px; }
  .periodo-ini {
    clear: both; }
  .divVerGraficos {
    margin-top: 10px; }
  .div-opcion-periodo {
    width: 50%; } }

@media all and (min-width: 375px) and (max-width: 479px) {
  .resumen-content {
    height: 100%; }
  .border-media {
    border-left: none;
    border-right: none; }
  .media-space {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15%;
    padding-right: 15%; }
  img.media-object {
    width: 20px;
    height: 20px; }
  .media-body span {
    font-size: 14px;
    line-height: 16px; }
  .resumen-content .resume-text {
    font-size: 16px; }
    .resumen-content .resume-text span {
      font-size: 12px; }
  .media-space {
    padding-left: 8px;
    padding-right: 8px; }
  .media-left, .media > .pull-left {
    padding-right: 0; }
  .no-padding-left {
    padding-left: 15px !important; }
  .typeUnit-analyzeIn {
    padding-left: 15px !important;
    margin-top: -5px; }
  .divVerGraficos {
    padding-left: 8px !important; } }

@media all and (min-width: 480px) and (max-width: 767px) {
  .resumen-content {
    height: 100%; }
  .border-media {
    border-left: none;
    border-right: none; }
  .media-space {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px; }
  img.media-object {
    width: 30px;
    height: 30px; }
  .media-body span {
    font-size: 18px;
    line-height: 20px; }
  .resumen-content .resume-text {
    font-size: 20px; }
    .resumen-content .resume-text span {
      font-size: 14px; }
  .media-left, .media > .pull-left {
    padding-right: 5px; }
  .no-padding-left {
    padding-left: 15px !important; }
  .typeUnit-analyzeIn {
    padding-left: 15px !important;
    margin-top: -5px; }
  .btnViewCharts {
    display: block; }
  .divVerGraficos {
    padding-left: 8px !important; } }

@media all and (min-width: 768px) and (max-width: 991px) {
  img.media-object {
    width: 20px;
    height: 20px; }
  .media-body span {
    font-size: 14px;
    line-height: 16px; }
  .resumen-content .resume-text {
    font-size: 16px; }
    .resumen-content .resume-text span {
      font-size: 12px; }
  .media-space {
    padding-left: 8px;
    padding-right: 8px; }
  .media-left, .media > .pull-left {
    padding-right: 0; }
  .typeUnit-analyzeIn {
    padding-left: 15px !important;
    margin-top: 5px; } }

@media all and (min-width: 992px) and (max-width: 1359px) {
  img.media-object {
    width: 30px;
    height: 30px; }
  .media-body span {
    font-size: 18px;
    line-height: 20px; }
  .resumen-content .resume-text {
    font-size: 20px; }
    .resumen-content .resume-text span {
      font-size: 14px; }
  .media-space {
    padding-left: 12px;
    padding-right: 12px; }
  .media-left, .media > .pull-left {
    padding-right: 5px; } }

