<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Veritrade2017.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <add name="LocalContent" connectionString="Server=25.23.30.5;Database=VeritradeContent;User Id=sa;Password=DevOps2023#$;" providerName="System.Data.SqlClient"/>
    <add name="LocalSystem" connectionString="Data Source=25.23.30.5; Initial Catalog=VeritradeBusiness; User ID=sa; Password=DevOps2023#$; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="LocalMinisite" connectionString="Data Source=25.23.30.5; Initial Catalog=VeritradeMinisite; User ID=sa; Password=DevOps2023#$; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="LocalProductProfile" connectionString="Data Source=25.23.30.5; Initial Catalog=VeritradeProductProfile; User ID=sa; Password=DevOps2023#$; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="LocalAdmin" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeAdmin; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="LocalCountryProfile" connectionString="Server=25.23.30.5;Database=VeritradeCountryProfile; User ID=sa; Password=DevOps2023#$;" providerName="System.Data.SqlClient"/>

    <add name="RemoteContent" connectionString="Data Source=25.23.30.5; Initial Catalog=VeritradeContent; User ID=sa; Password=DevOps2023#$; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteSystem" connectionString="Data Source=25.23.30.5; Initial Catalog=VeritradeBusiness; User ID=sa; Password=DevOps2023#$; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteMinisite" connectionString="Data Source=25.23.30.5; Initial Catalog=VeritradeMinisite; User ID=sa; Password=DevOps2023#$; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteProductProfile" connectionString="Data Source=25.23.30.5; Initial Catalog=VeritradeProductProfile; User ID=sa; Password=DevOps2023#$; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteAdmin" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeAdmin; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteCountryProfile" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeCountryProfile; User ID=sa; Password=DevOps2023#$; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>


    <!--<add name="LocalContent" connectionString="Server=veritrade-dev.cloudapp.net;Database=VeritradeContent;User Id=zekedev;Password=preprodvrt;" providerName="System.Data.SqlClient"/>
    <add name="LocalSystem" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeBusiness; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="LocalMinisite" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeMinisite_dev; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="LocalProductProfile" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeProductProfile_dev; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="LocalAdmin" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeAdmin; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteContent" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeContent; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteSystem" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeBusiness; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteMinisite" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeMinisite_dev; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteProductProfile" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeProductProfile_dev; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>
    <add name="RemoteAdmin" connectionString="Data Source=veritrade-dev.cloudapp.net; Initial Catalog=VeritradeAdmin; User ID=zekedev; Password=preprodvrt; MultipleActiveResultSets=True; Max Pool Size=200" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="vs:EnableBrowserLink" value="true"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="15"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="DevExpress.Utils.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Data.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.Mvc5.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.ASPxRichEdit.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Charts.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v17.1.Web, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.Resources.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v17.1.Web, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Pdf.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.CodeParser.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.DataAccess.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Office.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Sparkline.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Xpo.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v17.1.Web, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Dashboard.v17.1.Web.Mvc5, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.TreeMap.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Map.v17.1.Core, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <pages validateRequest="true" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="DevExpress.Utils"/>
        <add namespace="DevExpress.Web.ASPxThemes"/>
        <add namespace="DevExpress.Web"/>
        <add namespace="DevExpress.Web.Mvc"/>
        <add namespace="DevExpress.Web.Mvc.UI"/>
        <add namespace="DevExpress.Web.ASPxRichEdit"/>
        <add namespace="DevExpress.XtraCharts"/>
        <add namespace="DevExpress.XtraCharts.Web"/>
        <add namespace="DevExpress.XtraReports"/>
        <add namespace="DevExpress.XtraReports.UI"/>
        <add namespace="DevExpress.XtraReports.Web"/>
        <add namespace="DevExpress.XtraReports.Web.DocumentViewer"/>
        <add namespace="DevExpress.DashboardWeb.Mvc"/>
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <!-- <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" /> -->
    </httpModules>
    <globalization culture="es" uiCulture="es"/>
    <httpRuntime maxUrlLength="4096" maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.5"/>
    <!--customErrors mode="RemoteOnly" allowNestedErrors="true" /-->
    <customErrors mode="Off"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheCompanyProfile" duration="259200" varyByParam="*" enabled="true"/>
          <!-- 3days -->
          <add name="CacheProductProfile" duration="259200" varyByParam="*" enabled="false"/>
          <!-- 3days -->
          <add name="CacheExtraLarge" duration="259200" varyByParam="*" enabled="false"/>
          <!-- 3days -->
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <!--add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" /-->
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".woff" mimeType="font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="font-woff2"/>
      <mimeMap fileExtension=".otf" mimeType="font/otf"/>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
    <!--
  <httpRedirect enabled="false" destination="https://veritrade-qa.zeke.cl" childOnly="true" httpResponseStatus="Permanent" />
  <rewrite>
    <rules>
      <rule name="Secure" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
        <match url="*" />
        <conditions>
          <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
      </rule>
      
      <rule name="Force WWW and SSL" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAny">
          <add input="{HTTP_HOST}" pattern="^[^www]" />
          <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" url="https://veritrade-qa.zeke.cl/{R:1}" appendQueryString="true" redirectType="Permanent" />
      </rule>
      
    </rules>
  </rewrite>
  -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <devExpress>
    <resources>
      <add type="ThirdParty"/>
      <add type="DevExtreme"/>
    </resources>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="MetropolisBlue" customThemeAssemblies="" baseColor="#0072C6" font="Helvetica"/>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings accessibilityCompliant="false" bootstrapMode="Bootstrap3" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <applicationSettings>
    <Veritrade2017.Properties.Settings>
      <setting name="Veritrade_VeritradeAdmin_Seguridad" serializeAs="String">
        <value>http://business.veritrade.info/VeritradeAdmin/Seguridad.asmx</value>
      </setting>
      <setting name="IP_Veritrade" serializeAs="String">
        <value>200.48.77.66</value>
      </setting>
      <setting name="Veritrade2017_VeritradeAdmin_Seguridad" serializeAs="String">
        <value>http://admin.veritrade.info/VeritradeAdmin/Seguridad.asmx</value>
      </setting>
      <setting name="AlignetEnviroment" serializeAs="String">
        <value>TEST</value>
      </setting>
      <setting name="AlignetPassWallet" serializeAs="String">
        <value>WcwczkSKmYcVeaLGE.3685326925</value>
      </setting>
      <setting name="AlignetPassPasarela" serializeAs="String">
        <value>rGzPfdCEsCYrhJV?63924887</value>
      </setting>
      <setting name="AlignetMoneda" serializeAs="String">
        <value>840</value>
      </setting>
      <setting name="StripeApiKey" serializeAs="String">
        <value>sk_test_jfZQtCF9eWLteSwr1GVyixuV</value>
      </setting>
      <setting name="StripeWebKey" serializeAs="String">
        <value>pk_test_CNbnrkIqWPUsj9sftr1yVMnj</value>
      </setting>
      <setting name="Campania_Expired" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="Credencial_User" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Credencial_Pass" serializeAs="String">
        <value>vrtadmin2050</value>
      </setting>
      <setting name="Veritrade_SentinelPeru_SentinelWS02" serializeAs="String">
        <value>http://www2.sentinelperu.com/ws/asentinelws02.aspx</value>
      </setting>
      <setting name="CodTransbankIntegracion" serializeAs="String">
        <value>597020000540</value>
      </setting>
      <setting name="PublicCertPath" serializeAs="String">
        <value>c:\cert\serverTBK.crt</value>
      </setting>
      <setting name="HabilitarTrackingMixPanel" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="TokenDevMixPanel" serializeAs="String">
        <value>d4d77c98cb662bd7ce78365526c77885</value>
      </setting>
      <setting name="UrlMixPanel" serializeAs="String">
        <value>https://api.mixpanel.com/engage/</value>
      </setting>
      <setting name="TokenProdMixPanel" serializeAs="String">
        <value>24afa81fa167622c3b101ea05504ec68</value>
      </setting>
      <setting name="UrlProdHostWeb" serializeAs="String">
        <value>https://www.veritradecorp.com</value>
      </setting>
      <setting name="Veritrade_VeritradeServicios_ServiciosCorreo"
        serializeAs="String">
        <value>http://25.80.119.250/VeritradeServicios/ServiciosCorreo_ERROR.asmx</value>
      </setting>
      <setting name="Veritrade2017_VeritradeServicios_ServiciosCorreo"
        serializeAs="String">
        <value>http://admin.veritrade.info/VeritradeServicios/ServiciosCorreo.asmx</value>
      </setting>
      <setting name="IP_Debug" serializeAs="String">
        <value>200.111.233.190</value>
      </setting>
      <setting name="CodTransbankProduccion" serializeAs="String">
        <value>35018859</value>
      </setting>
      <setting name="PrivateCertPath" serializeAs="String">
        <value>C:/cert/597035018859.key</value>
      </setting>
      <setting name="PrivateCertPass" serializeAs="String">
        <value />
      </setting>
      <setting name="WebpayCertPath" serializeAs="String">
        <value>c:\cert\serverTBK.crt</value>
      </setting>
      <setting name="FrontEnd" serializeAs="String">
        <value>http://localhost:52530/</value>
      </setting>
      <setting name="UrlWeb" serializeAs="String">
        <value>http://localhost:63393/</value>
      </setting>
      <setting name="UrlAdmin" serializeAs="String">
        <value>http://localhost:52530/</value>
      </setting>
      <setting name="UrlAdminOld" serializeAs="String">
        <value>http://localhost:52530/</value>
      </setting>
      <setting name="transbankHabilitado" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="Jwt_Secret_Key" serializeAs="String">
        <value>clave-secreta-api</value>
      </setting>
      <setting name="Jwt_Expire_Days" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="AlignetIdCommerce" serializeAs="String">
        <value>7751</value>
      </setting>
      <setting name="AlignetIdWallet" serializeAs="String">
        <value>501</value>
      </setting>
      <setting name="AlignetIdAdquiriente" serializeAs="String">
        <value>29</value>
      </setting>
      <setting name="AlignetCodPedido" serializeAs="String">
        <value>322</value>
      </setting>
      <setting name="TransbankCertPath" serializeAs="String">
        <value>C:/Path/to/private/Cert.pfx</value>
      </setting>
      <setting name="TransbankCertPass" serializeAs="String">
        <value>PfxPassword</value>
      </setting>
    </Veritrade2017.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SentinelWS02SoapBinding"/>
        <binding name="WalletCommerceSOAP">
          <security mode="Transport"/>
        </binding>
        <binding name="WalletCommerceSOAP1"/>
        <binding name="WalletCommerceSOAP2">
          <security mode="Transport"/>
        </binding>
        <binding name="WalletCommerceSOAP3"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- <endpoint address="http://www2.sentinelperu.com/ws/asentinelws02_ERROR.aspx" binding="basicHttpBinding" bindingConfiguration="SentinelWS02SoapBinding" contract="SentinelPeru.SentinelWS02SoapPort" name="SentinelWS02SoapPort" /> -->
      <endpoint address="http://www2.sentinelperu.com/ws/asentinelws02.aspx" binding="basicHttpBinding" bindingConfiguration="SentinelWS02SoapBinding" contract="SentinelPeru.SentinelWS02SoapPort" name="SentinelWS02SoapPort"/>
      <!-- <endpoint address="https://www.pay-me.pe/WALLETWS/services/WalletCommerce_ERROR/" binding="basicHttpBinding" bindingConfiguration="WalletCommerceSOAP2" contract="PaymeReference.WalletCommerce" name="WalletCommerceSOAP1" /> -->
      <endpoint address="https://www.pay-me.pe/WALLETWS/services/WalletCommerce/" binding="basicHttpBinding" bindingConfiguration="WalletCommerceSOAP2" contract="PaymeReference.WalletCommerce" name="WalletCommerceSOAP1"/>
      <!-- <endpoint address="https://integracion.alignetsac.com/WALLETWS/services/WalletCommerce_ERROR/" binding="basicHttpBinding" bindingConfiguration="WalletCommerceSOAP" contract="PaymeTestReference.WalletCommerce" name="WalletCommerceSOAP" /> -->
      <endpoint address="https://integracion.alignetsac.com/WALLETWS/services/WalletCommerce/" binding="basicHttpBinding" bindingConfiguration="WalletCommerceSOAP" contract="PaymeTestReference.WalletCommerce" name="WalletCommerceSOAP"/>
    </client>
  </system.serviceModel>
  <!-- <system.net> -->
  <!-- <mailSettings> -->
  <!-- <smtp deliveryMethod="Network" from="correomandos@gmail.com"> -->
  <!-- <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" userName="correomandos@gmail.com" password="correoman_02" /> -->
  <!-- </smtp> -->
  <!-- </mailSettings> -->
  <!-- </system.net> -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@veritrade-ltd.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="info@veritrade-ltd.com" password="V20502527526$$"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" /> 
    <security allowRemoteAccess="true" /> 
  </elmah> -->
  <!--location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers-->
  <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
  <!--
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location-->
</configuration>
<!--ProjectGuid: 0FC8B611-7079-4772-9F6C-6C151B6BAAE5-->