<tr>
    <td bgcolor="#f4f4f5">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="1%">
                    <img src="@Url.Content("~/Content/Images/transparente.gif")" width="40" height="70" />
                </td>
                <td width="98%">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="20%">
                                <img src="@Url.Content("~/Content/Images/logo_correo.png")" alt="Logo Veritrade" width="75" height="45" />                               
                            </td>
                            <td width="70%" align="right">
                                <table border="0" cellpadding="0" cellspacing="0" style="white-space: nowrap;">
                                    <tr>
                                        <td>
                                            <img src="@Url.Content("~/Content/Images/transparente.gif")" width="40" height="38" />
                                        </td>
                                        <td>
                                            <a href="#" style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 20px; text-decoration: none; color: #212936;">www.veritradecorp.com</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="1%" >
                    <img src="@Url.Content("~/Content/Images/transparente.gif")"width="40" height="70" />
                </td>
            </tr>
        </table>
    </td>
</tr>



