<div class="modal fade" tabindex="-1" role="dialog" id="ModalError">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal_popup">
                    <div class="title">
                        <h2 id="success_title">
                            @Resources.Resources.Compra_Verificacion_Titulo
                        </h2>
                    </div>
                    <div class="message_content">
                        <p id="success_message">
                            @Html.Raw(Resources.Resources.Compra_Verificacion_Mensaje)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>