
<div class="modal fade " tabindex="-1" role="dialog" id="ModalInformativo">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 20px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close-modal-pageDemo" aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="informacion-mensaje">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
