.ayuda_section {
    font-family: ProximaNova-Regular;
    margin: 20px auto;
    position: relative;
    width: 100%;
}

.ayuda_section .title h2 {
    color: #3e4d5c;
    font-family: ProximaNova-Bold;
    font-size: 24px;
    line-height: 26px;
    margin: 0 auto;
    padding-bottom: 6px;
    padding-top: 0;
    text-decoration: none;
}

.ayuda_section .ayuda_content {
    margin: 10px auto;
    text-align: center;
}

.ayuda_section .ayuda_content h3 {
    color: #65A5E2;
    font-family: ProximaNova-Bold;
    font-size: 30px;
    padding-bottom: 12px;
    padding-top: 20px;
    text-decoration: none;
}

.ayuda_section .ayuda_content h4 {
    color: #65A5E2;
    font-family: ProximaNova-Bold;
    font-size: 20px;
    padding-bottom: 12px;
    padding-top: 20px;
    text-decoration: none;
}

.ayuda_section .ayuda_content .ayuda_description {
    color: #878581;
    font-family: ProximaNova-Regular;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}

.ayuda_section .ayuda_content .video_description {
    color: #616161;
    font-family: ProximaNova-Light;
    font-size: 12px;
    letter-spacing: 0.2pt;
    line-height: 14px;
}

.ayuda_section .ayuda_content .video_ayuda {
    height: 149px;
    width: 264px;
}

.ayuda_section .ayuda_content .video_content { padding: 0 10%; }

.ayuda_section .ayuda_content .video_content .video_item {
    float: left;
    margin: auto 15px;
    width: 30%;
}