@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.elementhover {
    margin: 16px auto;
}

    .elementhover:hover {
        cursor: pointer;
    }

.line-description {
    display: flex;
}

.subtitle {
    width: 6.4em;
}

table {
    font-size: 10px;
    margin-bottom: 5px !important;
}

    table .table-title {
        color: #ffffff;
        background-color: #30A7E5;
        text-align: center;
    }

    table .table-footer {
        color: #ffffff;
        background-color: #30A7E5;
        text-align: center;
    }

    table .form-control {
        font-size: 10px;
        height: 24px;
    }

    table thead tr th {
        vertical-align: middle !important;
    }

.table-view {
    display: table;
    height: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

@media (max-width: 374px) {
    .table-cell {
        width: 100%;
    }
}

@media all and (max-width: 767px) {
    .table-view {
        height: 100%;
    }

    .table-cell {
        display: inline-block;
        float: left;
    }

    .product-profile-info .info-description span {
        margin-right: 30%;
    }
}

.null-padding {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

.null-padding-v {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.null-padding-h {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.null-margin-v {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.null-margin-h {
    margin: 0px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0px;
}

.left {
    float: left;
    position: relative;
}

.right {
    float: right;
    position: relative;
}

.wspace-normal {
    white-space: normal;
}

.wspace-nowrap {
    white-space: nowrap;
}

@media all and (max-width: 767px) {
    .null-padding-h {
        padding-left: initial !important;
        padding-right: initial !important;
    }

    .wspace-normal {
        white-space: normal;
    }

    .wspace-nowrap {
        white-space: nowrap;
    }
}

.padding-height-sm {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding-height-md {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-height-lg {
    padding-top: 24px;
    padding-bottom: 24px;
}

.margin-height-sm {
    margin-top: 8px;
    margin-bottom: 8px;
}

.margin-height-md {
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-height-lg {
    margin-top: 24px;
    margin-bottom: 24px;
}

.chat-container {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    display: inline-block;
}

.chart-tittle {
    font-family: ProximaNova-Bold;
    font-size: 13px;
    line-height: 13px;
    color: #212934;
}

.resumen-content {
    height: 255px;
}

    .resumen-content .resume-text {
        text-align: center;
        font-size: 29px;
        color: #30a7e5;
        letter-spacing: -0.2pt;
    }

        .resumen-content .resume-text span {
            display: block;
            font-size: 17px;
            line-height: 23px;
            color: #212934;
        }

.data-content {
    border: 1px solid #58A7E5;
}

    .data-content .graphic-content {
        width: 100%;
        height: 250px;
        margin: 0 auto;
        display: inline-block;
    }

.border-media {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}


ul {
    list-style-type: none;
}

    ul li:before {
        content: ' ';
        position: absolute;
        margin-left: -20px;
    }

.content-table-responsive {
    position: relative;
    min-height: 85px;
}

.product-profile-info {
    position: relative;
    display: table;
    width: 100%;
}

.tab-detalle {
    position: relative;
    display: block;
    width: 100%;
}

    .tab-detalle .span-content {
        padding: 6px 22px;
        display: inline-block;
        -ms-border-radius: 2px;
        border-radius: 2px;
        font-family: 'ProximaNova-Regular';
        font-size: 18px;
        color: #4a6a8a;
        text-align: left;
        line-height: 24px;
    }

        .tab-detalle .span-content label {
            font-family: 'ProximaNova-Semibold';
            font-size: 18px;
            color: #2d3b61;
            text-align: left;
            line-height: 24px;
        }

    .tab-detalle .detalle {
        font-family: 'ProximaNova-Regular';
        font-size: 10px;
        color: #2d3b61;
        line-height: 14px;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 0 0;
    }

        .tab-detalle .detalle h2 {
            text-align: center;
        }

        .tab-detalle .detalle p {
            font-family: 'ProximaNova-Regular';
            font-size: 14px;
            color: #2d3b61;
            line-height: 24px;
        }

        .tab-detalle .detalle .img-block-blue {
            height: 37%;
        }

    .tab-detalle table thead {
        font-family: 'ProximaNova-Bold';
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold !important;
    }

    .tab-detalle .impair-column {
        background-color: #499dd4;
        text-align: center;
    }

    .tab-detalle .pair-column {
        background-color: #54ace6;
    }

    .tab-detalle .impair-column-disabled {
        background-color: #c6d1d7;
        text-align: center;
    }

    .tab-detalle .pair-column-disabled {
        background-color: #dae6eb;
    }

        .tab-detalle .impair-column label, .tab-detalle .pair-column label, .tab-detalle .impair-column-disabled label, .tab-detalle .pair-column-disabled label {
            width: 100%;
            text-align: center;
        }

    .tab-detalle .box-trial {
        position: absolute;
        background-image: url("/Content/Images/Minisite/banner-2x.png");
        background-size: cover;
        width: 100%;
        min-height: 80px;
        height: 44.5%;
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
        background-color: #ffffff;
        background-color: rgba(255, 255, 255, 0.7);
        cursor: default;
    }

.box-trial-modal {
    position: absolute;
    background-image: url("/Content/Images/Minisite/banner-2x.png");
    background-size: cover;
    width: 100%;
    min-height: 80px;
    height: 44.5%;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: default;
    opacity: .8;
    filter: alpha(opacity=80);
}

.box-trial-pieChart {
    position: absolute;
    background-image: url("/Content/Images/Minisite/banner-2x.png");
    background-size: cover;
    width: 100%;
    min-height: 60px;
    height: 36.5%;
    left: 0;
    right: 0;
    bottom: 35px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
    cursor: default;
    z-index: 9;
}

.tab-detalle .box {
    position: absolute;
    height: 80px;
    width: 228px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    border: 1px solid #8ba7b4;
    background-color: #ffffff;
    padding: 20px;
    font-size: 16px;
    z-index: 999;
}

    .tab-detalle .box p {
        font-family: 'ProximaNova-Regular';
        font-size: 16px;
        color: #8ba7b4;
        text-align: center;
        line-height: 20px;
    }

        .tab-detalle .box p a {
            font-family: 'ProximaNova-Regular';
            font-size: 16px;
            color: #7ad800;
            line-height: 20px;
            text-decoration: none;
        }

.tab-detalle .box-lg {
    height: 85px;
    width: 245px;
}

.tab-detalle .box-sm {
    height: 70px;
    width: 240px;
    padding: 15px;
}

.data-info {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    font-weight: bold;
    color: #2d3b61;
    text-align: right;
    line-height: 20px;
    width: 8em;
}

.product-profile-info .info-left {
    /*vertical-align: middle;*/
    background-color: #f6f8f9;
    background-color: #f6f8f9;
    padding-left: 0px;
}

.product-profile-info .info-left-2 {
    vertical-align: middle;
    background-color: #f6f8f9;
    background-color: #ffffff;
    padding-left: 0px;
}

.product-profile-info .info-right {
    vertical-align: middle;
    background-color: #edf0f1;
    background-color: #edf0f1;
}

.product-profile-info .info-title {
    margin: 0 67px;
}

.product-profile-info .info-title h2 {
    font-family: 'ProximaNova-Regular';
    font-size: 24px;
    font-weight: 600;
    color: #54ace6;
    text-align: left;
    line-height: 25px;
    margin-top: 15px;
}

.product-profile-info .info-title h3 {
    font-family: 'ProximaNova-Regular';
    font-size: 22px;
    color: #2d3b61;
    text-align: left;
    line-height: 24px;
    margin-top: 15px;
    font-weight: bold;
}

.product-profile-info .info-title h4 {
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    color: #4a6a8a;
    text-align: left;
    line-height: 24px;
}

.product-profile-info .span-content {
    padding: 6px 22px;
    display: inline-block;
    -ms-border-radius: 2px;
    border-radius: 2px;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    color: #4a6a8a;
    text-align: left;
    line-height: 24px;
}

    .product-profile-info .span-content label {
        font-family: 'ProximaNova-Semibold';
        font-size: 18px;
        color: #2d3b61;
        text-align: left;
        line-height: 24px;
    }

.product-profile-info .info-description {
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
    color: #7a8090;
    text-align: justify;
    line-height: 20px;
    margin: 10px 0;
    text-align: center;
}

.info-description-black {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    color: black;
    text-align: justify;
    line-height: 20px;
    margin: 15px 0;
    text-align: center;
}


.product-profile-info .info-description-title {
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
    color: #7a8090;
    text-align: justify;
    line-height: 20px;
    margin-top: 15px;
}

.static-margin {
    margin-bottom: 50px;
}

.product-profile-info .lista-descripcion {
    font-size: 13px;
    color: #464646;
    line-height: 20px;
    margin: 10px 26px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 56px;
    padding-left: 30%;
    padding-right: 15%;
}

.product-profile-info .info-description span {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    font-weight: bold;
    color: #2d3b61;
    text-align: justify;
    line-height: 20px;
}

.product-profile-info .info-description-title span {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    font-weight: bold;
    color: #2d3b61;
    text-align: justify;
    line-height: 20px;
}

.product-profile-info .lista-descripcion span {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    font-weight: bold;
    color: #2d3b61;
    text-align: justify;
    line-height: 20px;
}

.product-profile-info .graficos {
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: #7a8090;
    text-align: right;
    line-height: 24px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0 30px;
}

    .product-profile-info .graficos .left-column, .product-profile-info .graficos .right-column {
        height: 310px;
    }

    .product-profile-info .graficos #Chart2, .product-profile-info .graficos #Chart1 {
        width: 100% !important;
    }

        .product-profile-info .graficos #Chart2 > img, .product-profile-info .graficos #Chart1 > img {
            padding: 10px;
            height: 100%;
        }

.product-profile-info .datos {
    font-family: 'ProximaNova-Regular';
    font-size: 10px;
    color: #2d3b61;
    text-align: left;
    line-height: 14px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0 30px;
    margin-top: 30px;
}

    .product-profile-info .datos h2 {
        font-family: 'ProximaNova-Regular';
        font-size: 22px;
        color: #2d3b61;
        text-align: left;
        line-height: 24px;
    }

.product-profile-info .detalle {
    font-family: 'ProximaNova-Regular';
    font-size: 10px;
    color: #2d3b61;
    line-height: 14px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0 0;
}

    .product-profile-info .detalle h2 {
        text-align: center;
    }

    .product-profile-info .detalle p {
        font-family: 'ProximaNova-Regular';
        font-size: 14px;
        color: #2d3b61;
        line-height: 24px;
    }

    .product-profile-info .detalle .img-block-blue {
        height: 37%;
    }

.product-profile-info .anuncio {
    text-align: center;
    margin-bottom: 50px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0 30px;
}

    .product-profile-info .anuncio h2 {
        font-family: 'ProximaNova-Regular';
        font-size: 24px;
        color: #2d3b61;
        text-align: center;
        line-height: 34px;
        height: 68px;
        width: 40%;
        display: inline-block;
    }

    .product-profile-info .anuncio .solicitud, .product-profile-info .anuncio .solicitud:hover, .product-profile-info .anuncio .solicitud:focus {
        font-family: 'ProximaNova-Regular';
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
        height: 40px;
        width: 223px;
        background-color: #7ad800;
        display: inline-block;
        text-decoration: none;
    }

.solicitud, .solicitud:hover, .solicitud:focus {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 223px;
    background-color: #7ad800;
    display: inline-block;
    text-decoration: none;
}

.product-profile-info table thead {
    font-family: 'ProximaNova-Bold';
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold !important;
}

.product-profile-info .impair-column {
    background-color: #499dd4;
    text-align: center;
}

.product-profile-info .pair-column {
    background-color: #54ace6;
}

.product-profile-info .impair-column-disabled {
    background-color: #c6d1d7;
    text-align: center;
}

.product-profile-info .pair-column-disabled {
    background-color: #dae6eb;
}

    .product-profile-info .impair-column label, .product-profile-info .pair-column label, .product-profile-info .impair-column-disabled label, .product-profile-info .pair-column-disabled label {
        width: 100%;
        text-align: center;
    }

.pagination > li > a, .pagination > li > span {
    color: #2d3b61;
    border: none;
    font-size: 12px;
    border: 1px solid gainsboro;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #54ace6;
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #2d3b61;
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}

.box-trial {
    position: absolute;
    background-image: url("/Content/Images/Minisite/banner-2x.png");
    background-size: cover;
    width: 100%;
    min-height: 80px;
    height: 44.5%;
    top: auto;
    bottom: 0;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
}

.product-profile-info .box {
    position: absolute;
    height: 80px;
    width: 228px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    border: 1px solid #8ba7b4;
    background-color: #ffffff;
    padding: 20px;
    font-size: 16px;
    z-index: 999;
}

    .product-profile-info .box p {
        font-family: 'ProximaNova-Regular';
        font-size: 16px;
        color: #8ba7b4;
        text-align: center;
        line-height: 20px;
    }

        .product-profile-info .box p a {
            font-family: 'ProximaNova-Regular';
            font-size: 16px;
            color: #7ad800;
            line-height: 20px;
            text-decoration: none;
        }

.product-profile-info .box-lg {
    height: 85px;
    width: 245px;
}

.product-profile-info .box-sm {
    height: 70px;
    width: 240px;
    padding: 15px;
}

.img-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
}

.img-block-blue {
    position: absolute;
    width: 100%;
    height: 34%;
    z-index: 999;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.div-block {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    top: auto;
    left: 0;
    right: 0;
    bottom: 16%;
}

.content-left {
    text-align: left;
    float: left;
    max-width: 75%;
}

.content-right {
    float: left;
    padding: 0 5px;
    max-width: 25%;
    text-align: right;
}
 
.search-label {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    font-weight: 600;
    color: #54ace6;
    text-align: right;
    line-height: 24px;
}



table tbody td {
    border: 1px solid #e2eff5;
}

.table2 tbody td {
    border: 1px solid #e2eff5;
    height: 5em;
}

.table2 .table tbody td {
    border: 1px solid #e2eff5;
    height: 4em;
}

table tbody td > img.img-block-blue {
    width: 98%;
}

.cover-data {
    width: 100%;
    height: 80px;
    background-image: url("/Content/Images/Minisite/banner-2x.png");
    position: absolute;
    top: auto;
    bottom: 10px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*.btn-search, .btn-search:focus {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    height: 34px;
    width: 50%;
    background-color: #7dd614;
    border: thin solid #64b710;
    display: inline-block;
    text-transform: uppercase;
}*/

    .btn-search:hover {
        background-color: #69B011;
        border: thin solid #559C0E;
        border: none;
    }

.table {
    margin-bottom: 0;
}

.slogan {
    padding-left: 80px;
}

.margin-container {
    margin: 0 33px;
}

.el_uno {
    min-height: 167px;
}

.el_dos {
    padding-top: 100px;
}

.containerA {
    float: left;
    padding-right: 150px;
}


.el_tres {
    overflow: hidden;
    position: relative;
}

.containerB {
    width: 200px;
    position: absolute;
    right: 0;
    padding-left: 30px;
}
.no-display {
    display: none;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.full-height {
    height: 100%;
    width: 100%;
}
.adjust-height {
    height: calc(100% - 23px);
    width: 100%;
}
.cinco {
    width: 33%;
    display: block;
    float: left;
}

    .cinco .media {
        overflow: visible;
    }

.resum-cont {
    padding-top: 70px;
}

.media-img {
    display: block;
    width: 30px;
}

.space-resum-1 {
    display: table-cell;
    vertical-align: top;
    padding-right: 0px;
}

.info-list {
    margin-left: -50px;
}

.info-top {
    margin-left: -15px;
}

.product-profile-list-description {
    font-family: 'ProximaNova-Semibold';
    font-size: 12px;
    color: #7a8090;
    text-align: justify;
    line-height: 20px;
    margin: 15px 12px;
}

.product-profile-info-description {
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
    font-weight: bold;
    color: #2d3b61;
    text-align: justify;
    line-height: 20px;
    margin: 14px 7px;
}

.resum-subtext {
    text-align: center;
    font-size: 25px;
    color: #30a7e5;
    letter-spacing: -.2pt;
    word-wrap: break-word;
}

    .resum-subtext span {
        display: block;
        font-size: 17px;
        line-height: 23px;
        color: #212934;
    }

.container-left {
    float: left;
    padding-right: 150px;
}



.media-body span {
    font-family: ProximaNova-Bold;
    font-size: 19px;
    line-height: 19px;
    color: #212934;
}

.caja {
    position: absolute;
    height: 80px;
    width: 228px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    border: 1px solid #8ba7b4;
    background-color: #ffffff;
    padding: 20px;
    font-size: 16px;
    z-index: 999;
}

    .caja p {
        font-family: 'ProximaNova-Regular';
        font-size: 16px;
        color: #8ba7b4;
        text-align: center;
        line-height: 20px;
    }

    .caja a {
        font-family: 'ProximaNova-Regular';
        font-size: 16px;
        color: #7ad800;
        line-height: 20px;
        text-decoration: none;
    }

.margin-info {
    display: table;
    width: 100%;
    margin-bottom: 0px;
}

.product-h4 {
    color: #54ace6;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-div {
    border: 1px solid #000000;
    margin: 10px 0;
    padding: 15px 0;
}

.otherProduct {
    padding-left: 10px;
}

.product-p {
    color: #54ace6;
    font-weight: bold;
}

.product-ul-subtext {
    color: #4965ae;
    font-weight: bold;
}

.product-ul-subtext2 {
    color: #4965ae;
    font-weight: bold;
    padding-left: 30px;
}

.product-combo {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#countries .owl-nav {
    display: block !important;
}

#countries {
    padding: 0 60px;
    position: relative;
}

    #countries .owl-prev {
        position: absolute;
        left: 0;
        top: -8px;
        background: #e5f7ff;
        bottom: -8px;
    }

        #countries .owl-prev.disabled {
            display: none;
        }

    #countries .owl-next.disabled {
        display: none;
    }

    #countries .owl-next {
        position: absolute;
        right: 0;
        top: -8px;
        background: #e5f7ff;
        bottom: -8px;
    }

        #countries .owl-next i {
            vertical-align: middle;
            line-height: 14px;
        }

    #countries.owl-carousel .owl-item img {
        max-width: 30px;
        display: inline;
        vertical-align: middle;
        margin-right: 2px;
    }

    #countries.owl-carousel .item {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 2px;
        cursor: pointer;
    }

        #countries.owl-carousel .item span {
            /*font-family: 'ProximaNova-Regular';
    font-size: 16px;
    color: #000000;*/
            vertical-align: bottom;
            display: inline-block;
            line-height: 21px;
        }

.owl-carousel .owl-stage {
    padding-left: 0 !important;
}

#slider {
    margin-left: 33px;
    margin-right: 33px;
    border-top: 1px solid #aac7d5;
    border-bottom: 1px solid #aac7d5;
    margin-bottom: 20px;
}

.chart-left {
    padding-left: 0;
    padding-right: 15px;
}

.chart-right {
    padding-left: 15px;
    padding-right: 0;
}

#countries .owl-next:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    margin-left: 0px;
}

#countries .owl-prev:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
    margin-left: 0px;
}

.like-table-cell {
    display: table-cell;
    float: none;
}

.borde-info:before {
    border-left: 2px solid #000000;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 18px;
}

.div1 {
    font-size: 18px;
    color: #4a6a8a;
    white-space: nowrap;
    vertical-align: middle;
    padding: 10px;
}

.div2 {
    white-space: nowrap;
    vertical-align: bottom;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    line-height: 21px;
}

.modal-producto {
    cursor: pointer;
}

#countries.owl-carousel .item.active {
    border: 1px solid #aac7d5;
}
    /*#countries .owl-nav {
    opacity: 0;
}
#countries:hover .owl-nav {
    opacity: 1;
}*/
    #countries.owl-carousel .item.active .div2 {
        background: #f5f8fa;
    }

.media-space {
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 374px) {
    .media-space {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .resumen-content {
        height: 100%;
    }

    .border-media {
        border-left: none;
        border-right: none;
    }

    .chart-right {
        padding-left: 0;
        padding-right: 0;
    }

    .chart-left {
        padding-left: 0;
        padding-right: 0;
    }
}

@media all and (min-width: 375px) and (max-width: 479px) {
    .resumen-content {
        height: 100%;
    }

    .border-media {
        border-left: none;
        border-right: none;
    }

    .media-space {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 15%;
        padding-right: 15%;
    }

    img.media-object {
        width: 20px;
        height: 20px;
    }

    .media-body span {
        font-size: 14px;
        line-height: 16px;
    }

    .resumen-content .resume-text {
        font-size: 16px;
    }

        .resumen-content .resume-text span {
            font-size: 12px;
        }

    .media-space {
        padding-left: 8px;
        padding-right: 8px;
    }

    .media-left, .media > .pull-left {
        padding-right: 0;
    }

    .no-padding-left {
        padding-left: 15px !important;
    }

    .typeUnit-analyzeIn {
        padding-left: 15px !important;
        margin-top: -5px;
    }

    .divVerGraficos {
        padding-left: 8px !important;
    }

    .resum-subtext {
        font-size:15px;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .resumen-content {
        height: 100%;
    }

    .border-media {
        border-left: none;
        border-right: none;
    }

    .media-space {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }

    img.media-object {
        width: 30px;
        height: 30px;
    }

    .media-body span {
        font-size: 18px;
        line-height: 20px;
    }

    .resumen-content .resume-text {
        font-size: 20px;
    }

        .resumen-content .resume-text span {
            font-size: 14px;
        }

    .media-left, .media > .pull-left {
        padding-right: 5px;
    }

    .no-padding-left {
        padding-left: 15px !important;
    }

    .typeUnit-analyzeIn {
        padding-left: 15px !important;
        margin-top: -5px;
    }

    .btnViewCharts {
        display: block;
    }

    .divVerGraficos {
        padding-left: 8px !important;
    }
}

@media screen and (max-width: 767px) {
    .like-table-cell {
        display: block;
        float: left;
    }

    .margin-container {
        margin: 0 0;
    }

    .product-profile-info .info-description {
        margin: 5px 32px !important;
    }

    /*.product-profile-info .lista-descripcion {
        margin: 0 !important;
        margin-left: 15px !important;
        margin-right: 10px !important;
    }*/

    .slogan {
        padding-left: 16px !important;
        text-align: center;
    }

    .ui-info {
        margin-left: 10px;
    }

    .des-border {
        border-left: 0px solid #cfdee5;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    img.media-object {
        width: 20px;
        height: 20px;
    }

    .media-body span {
        font-size: 14px;
        line-height: 16px;
    }

    .resumen-content .resume-text {
        font-size: 16px;
    }

        .resumen-content .resume-text span {
            font-size: 12px;
        }

    .media-space {
        padding-left: 8px;
        padding-right: 8px;
    }

    .media-left, .media > .pull-left {
        padding-right: 0;
    }

    .typeUnit-analyzeIn {
        padding-left: 15px !important;
        margin-top: 5px;
    }
}

@media all and (min-width: 992px) and (max-width: 1359px) {
    img.media-object {
        width: 30px;
        height: 30px;
    }

    .media-body span {
        font-size: 18px;
        line-height: 20px;
    }

    .resumen-content .resume-text {
        font-size: 20px;
    }

        .resumen-content .resume-text span {
            font-size: 14px;
        }

    .media-space {
        padding-left: 12px;
        padding-right: 12px;
    }

    .media-left, .media > .pull-left {
        padding-right: 5px;
    }
}
@media only screen and (max-width: 991px) {
    .btnProduct {
        margin-top: 20px;
    }
    input[type="submit"] {
        margin-top: 10px;
        width: 100%;
    }
    .text-right {
        text-align: left;
    }
    .search-label {
        font-size: 18px;
        text-align: left;
    }
}
.t_buscar input[type="text"] {
     margin-bottom: 0 !important; 
}
