<div class="row">
    <div class="col-xs-12 col-sm-12">
        Si lo desea, puede descargar los resultados del tab <span class="text15">Vías Transportes</span> a un archivo excel:&nbsp;
        <a href="#" onclick="document.getElementById('ventana_mensaje_prueba_gratuita').style.display='';">
            <img src="~/Content/Images/bot_excel_off.png" width="38" height="38" class="ico_excel" alt="" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">

    </div>
    <div class="col-xs-12 col-sm-6">

    </div>
</div>

