<div class="modal fade" tabindex="-1" role="dialog" id="ModalSlider">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal_popup">
                    <div class="owl-carousel" id="imageSliderSec">
                        <div>
                            <img src="@Url.Content("~/Content/Images/SliderTrial/captura01.jpg")" alt="" />
                        </div>
                        <div>
                            <img src="@Url.Content("~/Content/Images/SliderTrial/captura02.jpg")" alt="" />
                        </div>
                        <div>
                            <img src="@Url.Content("~/Content/Images/SliderTrial/captura03.jpg")" alt="" />
                        </div>
                        <div>
                            <img src="@Url.Content("~/Content/Images/SliderTrial/captura04.jpg")" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>