<div class="modal fade ventana_fondo" tabindex="-1" role="dialog" id="ModalVentanaMensaje">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="icon-close-modal" aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">

                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">                       
                        <div id="messageTitle" class="text-center title-ventana-mensaje" >
                        </div>

                        <div class="text-center texto-ventana-mensaje">
                            <p id="message">
                            </p>
                            <p id="lnkContactenos">
                                @Resources.AdminResources.Modal_VentanaMensaje_MessageContactenos <a id="lnkActionContactUs">@Resources.AdminResources.Modal_VentanaMensaje_LnkContactenos</a>
                            </p>
                        </div>

                        <div class="text-center">
                            <button id="btnOKModalVentanaMensaje" class="btn btn-ok">
                                @Resources.AdminResources.Modal_VentanMensaje_OKButton
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

