/* Custom Styles*/

header h1 {
    text-align: center;
    font-size: 28px;
    margin: auto;
    padding-top: 35px;
    /*padding-top: 64px;*/
    color: #0B5E7D;
}

header {
    background-image: url("Images/bg_header.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 135px; /*height: 220px;*/
    margin-left: auto;
    margin-right: auto;
    background-color: #f3f3f3;
}

#hub {
    background-image: none !important;
    background-color: #ffffff !important;
}

.map {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    margin-left: 20px;
}


/*****************************  Se cambió la nomenclatura del hover para
 tooltip / los id son rígidos y dan conflictos  ************************/


/* #PE:hover,
#ARG:hover {
    fill: #0baae4;
} */

/* .map path {
    fill: #ECECEC;
    color: black;
} */

/* Countries VERITRADE */

/* Latinoamerica */
/* #ARG,
#PE,
#BR,
#BO,
#CHL,
#PARG,
#COLM,
#ECUA,
#URUG,
#ES,
#SV,
#VNZ,
#GTML,
#HND,
#CSTR,
#PANA,
#DOMINIC {
    fill: #D3F5FF;
} */

/* Norteamerica
#USA,
#MEX,
#CAN {
    fill: #D3F5FF !important;
}

/* Asia
#CHIN,
#IND {
    fill: #D3F5FF !important;
}

/* Europa 
#ES,
#BELG,
#BULG,
#CHIPR,
#CHECA,
#DINAM,
#GERM,
#FINLAN,
#ESTON,
#FRANCE,
#GREE,
#HUNG,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX,
#XXX {
    fill: #D3F5FF !important;
}

*/

.countrybox {
    border: 1px;
    border-color: #00BAEF;
    border-style: solid;
    border-radius: 8px;
    padding: 0px 8px;
    margin-right: 0px;
}

.countrybox-content {
    padding: 0px 0px;
    margin-right: 5px;
}

.countrybox h5 {
    margin: 5px 0px;
    font-weight: 700;
    font-size: 14px;
    color: #0B5E7D;
}

.countrybox p {
    font-size: 8px;
    margin: 0 0 3px;
    color: #00BAEF;
}


.countrybox span {
    font-weight: 700;
    color: #0B5E7D;
}

.countrybox a {
    color: #0B5E7D;
}

    .countrybox a:hover {
        color: #00BAEF;
    }

.flexbox {
    display: flex;
    align-items: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 8px;
}

.FlagCountry img {
    width: 80px;
    margin: 10px;
    padding-left: 2px;
}



.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px !important;
}

.panel {
    border: 0px solid transparent !important;
}

.panel-title h4 {
    font-weight: 300;
    color: #0B5E7D;
}

.panel-title panel-title-region {
    font-size: 22px;
}



.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0px solid #ddd !important;
}

.boxaccordion {
    background-color: #EBFAFF !important;
    border-radius: 8px !important;
    border: 1px solid #00BAEF !important;
}

    .boxaccordion a {
        color: #0B5E7D;
    }

        .boxaccordion a:hover {
            color: #00BAEF
        }

        .boxaccordion a:focus {
            color: #0B5E7D;
        }


.panel-default > .panel-heading {
    color: #00BAEF !important;
}


.panel-heading {
    padding: 15px 35px !important;
}

.boxaccordion .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
    margin-right: -15px;
    display: none !important;
}

/* Control ToolTips */

.CountryInMap:hover {
    fill: #7CD9F5;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


.enabled {
    fill: #D3F5FF;
    cursor: pointer;
    stroke: #0b5e81;
    stroke-width:.5px;
}


.description {
    pointer-events: none;
    position: absolute;
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 10px 15px;
    z-index: 5;
    height: 60px;
    width: 125px;
    line-height: 30px;
    margin: 0 auto;
    color: #21669e;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

    .description.active {
        display: block;
    }

    .description:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
    }

/* ClasesCountryProfile  */

.inner-header img {
    width: 2%;
}

.inner-header-country img {
    width: 2%;
}

.inner-header h1 {
    font-weight: 700;
}

.inner-header-country h1 {
    font-weight: 700;
    padding-top: 90px;
}

.line-bottom {
    height: 6px;
    width: 150px;
    content: '';
    background-color: #00BAEF;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.downtext {
    text-align: center;
    color: #0B5E7D;
   
}

.downtext h3 {
        padding-left: 22%;
        padding-right: 22%;
    }



.PanelCentral {
    /*width: 780px;*/
    width: 55%;
    margin: auto;
}

nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background-color: #5BB6E8 !important;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 3px solid #54ace6;
    background-color: #EBFAFF;
}


.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #FAFAFA;
}


a {
    color: #C8C8C8;
    text-decoration: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    color: #5BB6E8;
}

    .nav-tabs > li.active > a:hover {
        color: #0B5E7D;
    }

a:focus,
a:hover {
    color: #EBFAFF;
    text-decoration: none !important;
}

.tab-content {
    /*width: 1000px;*/
    width: 56%;
    height: 480px;
    border: 1px;
    border-color: #00BAEF;
    border-style: solid;
    border-radius: 8px;
    padding: 0px 8px;
    margin: auto;
}


.TabsExportImport {
    width:100%;
    margin-top: 25px;
}

.EnterpriseBox img {
    width: 12%;
}

.EnterpriseBox {
    background-color: #F8F8F8;
    width: 100%;
    border-radius: 8px;
    margin: 0px;
    padding: 20px;
    margin-top: 20px;
}

    .EnterpriseBox a {
        background-color: #F8F8F8;
    }

    .EnterpriseBox:hover {
        background-color: #CDEEF9;
        width: 100%;
        border-radius: 8px;
        margin: 0px;
        padding: 20px;
        margin-top: 20px;
    }

    .EnterpriseBox h3 {
        font-size: 24px;
        font-weight: 900;
        color: #0B5E7D;
        margin-top: 10px !important;
    }

    .EnterpriseBox h5 {
        font-weight: 900;
        color: #A8A8A8;
        font-size: 16px;
    }

.DetailsBox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}


.DetailsBoxResume {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    ;
    justify-content: flex-end;
}

    .DetailsBoxResume h3,
    h4 {
        margin-right: 25px;
        font-weight: 900;
    }

    .DetailsBoxResume h3 {
        margin-right: 25px;
        font-weight: 900;
        color: #0B5E7D;
    }

    .DetailsBoxResume h4 {
        color: #A8A8A8;
        font-weight: 900;
    }


/*  Custom Grid*/

.pl-0 {
    padding-left: 5px !important;
    padding-top:5px !important; 
}

.pr-0 {
    padding-right: 5px !important;
}



/*  Styles Custom Search form*/

.SearchEnterprise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 10px 0px 0px 0px;
}


.SearchEnterpriseCat {
    margin: 0px 0px 0px 0px;
}


form {
    color: #555;
    display: flex;
    padding: 0px 0px;
    border: 1px #f0f0f0;
    border-radius: 5px;
    margin: 0px 0px 0px;
    justify-content: space-between;
}

input[type="search"] {
    border: none;
    background: #f8f8f8;
    margin: 0;
    padding: 10px 140px 10px 20px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

    input[type="search"]::placeholder {
        color: #bbb;
    }

/*button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("../content/images/icons/icon_search.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}*/

    button[type="submit"]:hover {
        opacity: 1;
    }

    button[type="submit"]:focus,
    input[type="search"]:focus {
        box-shadow: 0 0 3px 0 #1183d6;
        border-color: #1183d6;
        outline: none;
    }

button[type="buttoncp"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("../content/images/icons/icon_search.svg") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}


form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.HeaderColumn {
    display: flex;
    justify-content: space-between;
    color: #D1D1D1;
}

.TableCat ul {
    height: 200px;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    padding-inline-start: 0px;
}


.TableCat li {
    margin-right: 5px;
}

    .TableCat li:hover {
        color: #00BAEF;
    }


.TableCat {
    width: 100%;
}



/* Style Scroll */

.TableCat {
  /*  scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);*/
    scrollbar-width: thin;
    scrollbar-darkshadow-color: #00BAEF;
}


    .TableCat::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .TableCat::-webkit-scrollbar:vertical {
            width: 10px;
        }

    .TableCat::-webkit-scrollbar-button:increment,
    .TableCat::-webkit-scrollbar-button {
        display: none;
    }

    .TableCat::-webkit-scrollbar:horizontal {
        height: 5px;
    }

    .TableCat::-webkit-scrollbar-thumb {
        background-color: #ACACAC;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }

    .TableCat::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F2F2F2;
    }




.HeaderColumn a:hover {
    color: #1183d6;
}

.Column {
    display: flex;
    justify-content: space-between;
}


















    .Column:hover {
        background-color: #CDEEF9;
        border-radius: 8px;
        padding: 0px 5px;
    }







#list a {
    color: #6C6C6C;
    text-decoration: underline;
}






    #list a:hover {
        color: #00BAEF;
    }






.Column:hover {
    background-color: #CDEEF9;
    border-radius: 8px;
    padding: 0px 5px;
}

#list a {
    color: #6C6C6C;
    text-decoration: underline;
}


    #list a:hover {
        color: #00BAEF;
    }

#lista-exportacion-producto a {
    color: #6C6C6C;
    text-decoration: underline;
}


    #lista-exportacion-producto a:hover {
        color: #00BAEF;
        font-weight: bold;
    }


#lista-exportacion-empresa a {
    color: #6C6C6C;
    text-decoration: underline;
}


    #lista-exportacion-empresa a:hover {
        color: #00BAEF;
        font-weight:bold;
    }


    #lista-exportacion-empresa h5:hover {
    
        font-weight: bold !important;
    }

    #lista-exportacion-producto h5:hover {
    
        font-weight: bold !important;
    }


#lista-importacion-empresa a {
    color: #6C6C6C;
    text-decoration: underline;
}


    #lista-importacion-empresa a:hover {
        color: #00BAEF;
    }

#lista-importacion-producto a {
    color: #6C6C6C;
    text-decoration: underline;
}


    #lista-importacion-producto a:hover {
        color: #00BAEF;
    }














.btn-cat {
    color: #fff;
    background-color: #F3C223;
    border-color: #fff;
}

    .btn-cat i {
        font-weight: 100;
        font-size: smaller;
    }

.ButtonCat {
    text-align: center;
    margin-top: 30px;
}

    .ButtonCat a {
        color: white;
    }

    .ButtonCat :hover {
        color: rgb(139, 139, 139);
        background-color: #cccccc;
    }

.IntroSection h3 {
    color: #0B5E7D;
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
}

.IntroSection {
    margin: 50px 0px;
}

.TittleTest h4 {
    font-weight: 800;
    color: #0B5E7D;
    margin-left: 15px;
}

.TittleTest ul {
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: justify;
}

.TittleTest li {
    margin: 15px 0px;
}

    .TittleTest li img {
        margin-right: 10px;
    }


.TittleTest span {
    font-weight: 900;
}

.TittleTestButton a {
    color: #00BAEF;
    text-decoration: underline;
}

.TitleBanner h3 {
    color: #0B5E7D;
    margin-bottom: 25px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 250px;
    border-radius: 8px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


.ContainerBox {
    width: 54%;
    margin: auto;
}

.Muestra {
    background-color: #D3F5FF;
    padding: 60px 0px;
}

.Marquee {
    width: 56%;
    margin: auto;
    text-align: center;
}

.TittleMarquee {
    margin: 35px 0px;
}

    .TittleMarquee h4 {
        color: #696464;
        font-size: 18px;
        font-weight: 100 !important;
        margin-bottom: 0px;
        text-align: left;
    }


    .TittleMarquee img {
        width: 4%;
        margin-top: -5px;
    }

.EnterprisesMarqueee {
    color: #001D2B;
}

#MarqEnter a {
    color: #001E2D;
    font-style: oblique;
    margin-bottom: 10px;
    font-weight:bold;
}

#MarqProduc a {
    color: #0B5E7D;
    font-style: oblique;
}


.ProductsMarqueee {
    color: #0B5E7D;
}


.LineTitle {
    height: 1px;
    
    content: '';
    background-color: #969696;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}

marquee a {
    color: #000000;
    text-decoration: underline;
    margin: 0px 18px;
}


    marquee a:hover {
        color: #ACACAC;
        text-decoration: none;
    }

.LinksNav {
    width:58%;
    margin: auto;
}


.LinksNav2 {
    width: 58%;
    margin: auto;
}


.LinksNav2e {
    width: 31% !important;
   margin: auto;
}





.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
}

    .breadcrumb a:hover {
        color: #00BAEF;
    }

.InfoGeneral {
    width: 58%;
    margin: auto;
}

    .InfoGeneral h4 {
        line-height: 25px;
    }


.TableSortCat {
    width: 56%;
    margin: auto;
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    cursor: pointer;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}


/* Style Scroll by Tables*/

.TableSortCat {
   /* scrollbar-width: thin;*/
    scrollbar-darkshadow-color: #00BAEF;
    border: 1px solid #00BAEF;
    /*//border-radius: 8px;*/
    overflow: hidden;
    overflow-y: scroll;
    padding-inline-start: 0px;
}


    .TableSortCat::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .TableSortCat::-webkit-scrollbar:vertical {
            width: 10px;
        }

    .TableSortCat::-webkit-scrollbar-button:increment,
    .TableSortCat::-webkit-scrollbar-button {
        display: none;
    }

    .TableSortCat::-webkit-scrollbar:horizontal {
        height: 5px;
    }

    .TableSortCat::-webkit-scrollbar-thumb {
        background-color: #ACACAC;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }

    .TableSortCat::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F2F2F2;
        /*background-color: transparent !important;*/
    }

    .TableSortCat ul {
        height: 200px;
        list-style-type: none;
        overflow: hidden;
        overflow-y: scroll;
        padding-inline-start: 0px;
    }


.custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}


.SimpleBanner {
    background-color: #D3F5FF;
    padding: 60px 0px;
    margin-top: 65px;
}

.HeaderTables {
    margin: 25px;
    border-radius: 8px;
    border: 1px solid #00BAEF;
    background-color: #5BB6E8;
}


.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 0px solid #ddd;
    width: 20%;
}


tr:nth-child(even) {
    background-color: #FAFAFA;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff00;
}

.td-center {
    text-align: center
}

.td-right {
    text-align: right
}



.TableSortCat-Header {
    width: 56%;
    margin: auto;
    margin-top: 35px;
    background-color: #EBFAFF;
    border: 1px solid #00BAEF;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 38px;
}


    .TableSortCat-Header table {
        border: 0px solid #ffffff;
        border-radius: 8px;
        color: #0B5E7D;
    }

    .TableSortCat-Header i {
        font-size: x-small;
    }

#TableSortCatId tr:hover {
    background-color: #EBFAFF;
    text-decoration: none;
    cursor: pointer;
    color: #00BAEF;
    font-weight:bold;
}

#TableSortCatId tr {
  /*  text-decoration: underline;*/
    cursor: pointer;
}

.DetailsCat {
    display: flex;
    align-items: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
    gap: 18px;
}


.BoxCategory {
    border: 1px solid #00BAEF;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #EBFAFF;
}

.DetailsCat h5 {
    color: #A8A8A8;
    margin-bottom: 5px;
}


.DetailsCat span {
    color: #0B5E7D;
    font-weight: 600;
}

.NameCat h4 {
    line-height: 10px;
    margin-bottom: 5px;
    color: #0B5E7D;
    font-weight: 100;
}

.NameCat span {
    color: #0B5E7D;
    font-weight: 600;
}



.TabsCategories {
    width: 780px;
    margin: auto;
}

.TabsCatsHeader {
    border: 1px solid #00BAEF;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #EBFAFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
    gap: 60px;
    margin: 16px 0px;
}


    .TabsCatsHeader h4 {
        color: #0B5E7D;
        font-size: 16px;
    }

    .TabsCatsHeader i {
        font-size: 10px;
        font-weight: 100;
    }

/* Styles by Categories*/

.panel-title-subcat {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-left: -100px;
}

.panel-cats a {
    color: #0B5E7D;
    text-decoration: none;
    font-weight: bold;
}

.panel-cats .panel-heading {
    padding: 10px 30px !important;
}


/* Style Scroll by Tables*/

.panel-cats {
    
    scrollbar-darkshadow-color: #00BAEF;
    border: 1px solid #00BAEF;
    border-radius: 8px;
}


    .panel-cats::-webkit-scrollbar {
        -webkit-appearance: none;
    }

        .panel-cats::-webkit-scrollbar:vertical {
            width: 10px;
        }

    .panel-cats::-webkit-scrollbar-button:increment,
    .panel-cats::-webkit-scrollbar-button {
        display: none;
    }

    .panel-cats::-webkit-scrollbar:horizontal {
        height: 5px;
    }

    .panel-cats::-webkit-scrollbar-thumb {
        background-color: #ACACAC;
        border-radius: 20px;
        border: 2px solid #f1f2f3;
    }

    .panel-cats::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #F2F2F2;
    }

    .panel-cats .panel-body {
        padding: 5px;
    }

.panel-body {
    padding: 0px !important
}

.TableEmpresa .USD h6 {
    text-align: right;
}

.USD {
    display: flex;
    justify-content: flex-end;
}

.ButtonSubCat {
    text-align: center;
    margin-top: 0px;
    margin-right: -90px;
    margin-left: 15px;
}


.rowlinetable:hover {
    height: 35px;
    border-radius: 8px;
    background-color: #E7E7E7;
    text-decoration: underline;
}

.rowlinetable a {
    text-decoration: underline;
    color: #000000;
}

    .rowlinetable a:hover {
        text-decoration: none;
    }


.rowlinetable > h6:hover {
    background-color: #E7E7E7;
    text-decoration: underline;
}

/* Estilo cuando se hace clic */
li.clicked {
    height: 35px;
    border-radius: 8px;
    background-color: #d5eff7 !important;
    text-decoration: underline;
}


.ButtonSubCat .btn-cat {
    color: #fff;
    background-color: #F3C223;
    border-color: #fff;
    top: 2px;
    margin-top: 5px;
}

.ButtonSubCat .btn {
    display: inline-block;
    padding: 5px 8px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.panel-cats .boxaccordion {
    background-color: #EBFAFF !important;
    border-color: #ffffff !important;
    border-radius: 8px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    border-style: solid !important;
    display: flex;
    justify-content: space-between;
    align-items: normal;
}


/*Custom style New Accordion HUB */

.panel-cats .panel-heading .accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content: "\e114";
    /* adjust as needed, taken from bootstrap.css */
    float: left;
    /* adjust as needed */
    color: grey;
    /* adjust as needed */
    margin-right: 10px;
    display: block !important;
}

.panel-cats .panel-heading .accordion-toggle.collapsed::before {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}




.boxaccordion .panel-heading .accordion-toggle.collapsed::after {
    /* symbol for "collapsed" panels */
    content: "\e080";
    /* adjust as needed, taken from bootstrap.css */
}


.panel-default > .panel-heading {
    background-color: #EBFAFF !important;
        display: block !important;
}

.flexbox-l {
    display: flex;
    align-items: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.flexbox-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexbox-r {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.Regiones {
    /*width: 1100px;*/
    width: 95%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 3%;
}
.nav-item {
    width: 14%;
}

.number {
    width: 100px;
    text-align: right;
    font-family: 'Verdana', 'sans-serif';
    /*font-family: monospace;*/
    /*font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif*/
}

.info-aduanas{
    margin-left:1px !important;
}

.condition-zero-panel{
  width:28%
}



#TableSortCatId a:hover {
    color: #00BAEF !important;
    font-weight: bold;
}


/* CHROME */
::-webkit-scrollbar {
    width: 0.5rem;
    /*background-color: transparent !important;*/
}

.table-bordered {
    border: 0px solid #ddd;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}


.panel-cats::-webkit-scrollbar {
    -webkit-appearance: none;
}

    .panel-cats::-webkit-scrollbar:vertical {
        width: 10px;
    }

.panel-cats::-webkit-scrollbar-button:increment,
.panel-cats::-webkit-scrollbar-button {
    display: none;
}

.panel-cats::-webkit-scrollbar:horizontal {
    height: 5px;
}

.panel-cats::-webkit-scrollbar-thumb {
    background-color: #ACACAC;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.panel-cats::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F2F2F2;
}

.show-mobile {
    display: none ;
}

.show-768 {
    display: none !important;
}

/* Estilos específicos para Google Chrome */
/*::-webkit-scrollbar {
    width: 12px;*/ /* Ancho de la barra de desplazamiento */
/*}

::-webkit-scrollbar-track {
    border-radius: 10px;*/ /* Radio de borde para la pista de la barra de desplazamiento */
    /*background-color: #f1f1f1;*/ /* Color de fondo de la pista */
/*}

::-webkit-scrollbar-thumb {
    border-radius: 10px;*/ /* Radio de borde para el pulgar de la barra de desplazamiento */
    /*background-color: #888;*/ /* Color de fondo del pulgar */
/*}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;*/ /* Color de fondo del pulgar al pasar el ratón sobre él */
    /*}*/




/*.scroller::-webkit-scrollbar-thumb {
    background: transparent;
}

.scroller::-webkit-scrollbar-track {
    background: transparent;
}

.scroller:hover::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
}

.scroller:hover::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
}

.scroller:hover {
    --fix:;*/ /* This custom property invalidates styles on hover, thereby enforcing a style recomputation. This is needed to work around a bug in Safari. */


/*}*/
/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
/*.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    border-radius: 25px;*/
    /*background-color: #aaa;*/ /* or add it to the track */
/*}*/

/* Add a thumb */
/*.mostly-customized-scrollbar::-webkit-scrollbar-thumb {*/
  /* background: #000;*/
    /*border-radius: 25px;
}*/







/*@media (max-width: 480px) {
    .map {
        display: none;
    }
    .Regiones {
       padding-top: 100px;
    }

    .PanelCentral {
        width: 90% !important;
        
    }
    .tab-content {
        width: 96% !important;
    }
}
*/
