/* Responsive Custom */





@media (min-width: 640px) and (max-width: 1366px) {
    .show-mobile {
        display: block !important;
    }

    .custposition {
        width: 175px !important;
    }

    .show-mobile {
        display: none !important;
    }

    .show-768 {
        display: block !important;
    }

    .Regiones {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .ly1-titulo1 {
        font-size: 26px !important;
        color: lawngreen !important;
    }


    element.style {
        padding-top: 21%;
    }

    .countrybox h5 {
        font-size: 15px;
    }


    .ly1-titulo {
        font-size: 24px !important;
    }

    /*ly2*/
    .downtext h3 {
        font-size: 20px !important;
    }

    .nav-tabs > li {
        width: 21% !important;
    }


    .EnterpriseBox h3 {
        font-size: 22px !important;
    }

    .EnterpriseBox h5 {
        font-size: 22px !important;
    }

    header {
        height: 159px !important;
    }

    h5, .h5 {
        font-size: 13px !important;
    }

    .TabsExportImport {
        margin-top: -3px;
    }


    /*ly3*/
    #ly3-h4 {
        font-size: 18px !important;
    }

    .ly4-h4 {
        font-size: 18px !important;
    }

    .ly4-h5 {
        font-size: 18px !important;
    }



    /*  .DetailsBoxResume h3 {
        font-size: 24px !important;
    }*/

    .ly3-DetailsBoxResume-h3 {
        font-size: 20px !important;
    }

    .ly3-DetailsBoxResume-h4 {
        font-size: 20px !important;
    }


    .TableSortCat-Header table {
        font-size: 12px !important;
    }

    #TableSortCatId {
        font-size: 12px !important;
    }

    .DetailsCat {
        gap: 4px;
    }

    .ly4-h1 {
        font-size: 13px !important;
    }

    .TabsCatsHeader h4 {
        font-size: 14px !important;
    }


    .rowlinetable {
        margin-left: 171px !important;
        width: 600px !important;
    }

    .ly4-import-empresas-tot {
        margin-right: 90px !important;
    }

    .NameCat h4 {
        width: 320px !important;
        font-size: 12px !important;
    }



    .BoxCategory {
        padding-left: 10px !important;
    }

    .TabsCatsHeader {
        gap: 0px !important;
    }
}


@media only screen and (min-width: 321px) and (max-width:639px) {

    .show-768 {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

    .show-320 {
        display: none !important;
    }

    .show-321 {
        display: block !important;
    }

    .ly3-col-datos2 {
        display: none !important;
    }

    .ly3-col-datos1 {
        width: 83% !important;
    }

    .flexbox {
        display: flex;
        align-items: center;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin: 0px;
        margin-left: 0px !important;
    }

    .InfoGeneral .flexbox {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        font-size: 22px;
        padding-left: 21px !important;
    }

    .inner-header img {
        display: flex;
        margin: auto;
        width: 15%;
        margin-top: 10px !important;
    }

    .inner-header-country img {
        width: 9%;
    }


    .map {
        width: 100%;
    }

    .downtext h3 {
        padding: 25px;
        font-size: 20px;
    }

    .TabsExportImport {
        margin-top: 100px;
    }

    .tab-content {
        width: 370px;
        height: 950px;
    }

    .nav > li > a {
        padding: 25px 30px !important;
        font-size: larger;
        font-weight: 900;
    }

    input[type="search"] {
        padding: 10px 100px 10px 20px;
        width: 86% !important;
        margin-top: 5px !important;
    }

    .ContainerBox {
        width: 330px;
        margin: auto;
    }

    #container {
        margin-top: 30px;
    }

    .IntroSection {
        padding: 0px 25px !important;
    }

        .IntroSection > h3 {
            padding-left: 0% !important;
            padding-right: 0% !important;
        }

    .countrybox {
        margin-top: 25px;
    }

    .Marquee {
        width: 320px;
    }

    .InfoGeneral {
        width: 350px;
    }

        .InfoGeneral h4 {
            line-height: 25px;
            text-align: center;
            font-size: 22px;
        }

    .DetailsBoxResume {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }

    .SearchEnterprise > input[type="search"] {
        padding: 10px 145px 10px 20px !important;
    }

    .ViewSubCats {
        display: none;
    }

    .TableSortCat-Header {
        width: 351px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .TableSortCat {
        width: 351px;
        margin: auto;
        margin-right: 5px;
        margin-left: 10px;
    }

    .TittleTest > img {
        margin: 20px;
    }

    .TabsCategories {
        /*width: 375px !important;*/
        width: 97% !important;
        margin-left: 5px !important;
    }

    .TabsCatsHeader h4 {
        color: #0B5E7D;
        font-size: 12px;
    }

    .LinksNav {
        width: 370px;
        margin: auto;
        padding-top: 5px !important;
    }

    .TabsCatsHeader {
        gap: 0px !important;
    }

    .map {
        display: none;
    }

    .Regiones {
        padding-top: 100px;
    }

    .PanelCentral {
        width: 90% !important;
    }

    .tab-content {
        width: 96% !important;
    }

    .nav-item {
        padding-top: 40px;
        width: 50% !important;
    }

    #txtEmpresa {
        width: 86%;
        color: black;
    }

    #home-tab {
        padding-left: 10px !important;
        padding-right: 10px !important;
        height: 53px;
        padding-top: 10px;
        padding-bottom: 10px !important;
    }

    #profile-tab {
        padding-left: 10px !important;
        padding-right: 10px !important;
        height: 53px;
        padding-top: 10px;
        padding-bottom: 10px !important;
    }


    .DatosPais {
        padding-top: 23% !important;
        padding-left: 3px;
        width: 100%;
    }


    .countrybox h5 {
        margin: -5px 0px;
        font-weight: 900;
        font-size: 22px !important;
        color: #0B5E7D;
        margin-left: -13px !important;
    }

    .pl-0 {
        padding-left: 31px !important;
        padding-right: 41px !important;
        padding-top: 1px !important;
        padding-bottom: 10px;
    }

    .condition-zero-panel {
        width: 100%
    }

    .nav-tabs-zero > li {
        width: 26%;
    }

    .EnterpriseBox h5 {
        font-size: 23px !important;
    }

    .EnterpriseBox h3 {
        font-size: 24px !important;
    }

    #tab-content-zero {
        height: auto !important;
        padding-bottom: 20px;
    }

    .DetailsBoxResume h3 {
        padding-top: 12px;
    }

    #t_buscarl3 {
        padding-left: 4% !important;
        width: 378px !important;
        padding-right: 5px;
    }

    #headerl3 {
        height: 100px !important;
    }

    .custom-h4 {
        font-size: 16px !important;
    }

    .LinksNav2 {
        padding-top: 9%;
        width: 99% !important;
        margin: auto;
    }

    .LinksNav2e {
        padding-top: 9%;
        width: 370px;
        margin: auto;
    }

    .downtext {
        padding: 10px;
    }

    .TittleMarquee img {
        width: 9%;
        margin-top: 0px;
    }

    .breadl2 {
        padding-left: 15px !important;
        margin-bottom: -22px !important;
    }

    .custom-h4-mobile {
        margin-right: -8px !important;
        font-size: 12px !important;
        text-align: left !important;
    }

    .custom-h5 {
        padding-right: 15px !important;
    }

    .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        width: 31% !important;
    }

    .breadcrumb {
        padding: 8px 15px;
        margin-bottom: 5px;
        list-style: none;
        background-color: #ffffff;
        border-radius: 4px;
    }

    .l3-header-importaciones {
        height: 100px !important;
        width: 399px;
    }

    .l3-nav {
        margin-left: 0px !important;
    }

    .breadcrumb-l3 {
        margin-left: 5px !important;
    }

    .nav-l3-empresa {
        margin-left: 0px !important;
        padding-top: 5px !important;
    }

    .panel-cats .panel-heading {
        padding: 10px 14px !important;
    }

    #l3-columna1 {
        width: 33px !important;
    }

    .l3-columna2 {
        width: 33px !important;
    }

    .FlagCountry img {
        width: 50px;
        margin: 10px;
        padding-left: 2px;
    }


    .ly1-titulo {
        font-size: 20px !important;
    }

    .Regiones {
        /* width: 1100px; */
        width: 95%;
        margin: auto;
        padding-top: 28%;
        padding-bottom: 3%;
    }


    .countrybox h5 {
        font-size: 21px !important;
        margin-left: -2px !important;
    }

    .uno-st8 {
        font-size: 13px !important;
    }

    .rowlinetable {
        width: 680px !important;
        margin-left: 13px !important;
    }


    .ly4-col2-exportaciones-producto {
        margin-right: 12px !important;
    }

    .DetailsBoxResume h3, h4 {
        text-align: center !important;
        padding-left: 14px;
    }

    .uno-st4 {
        padding-left: 10px;
        padding-top: 8%;
    }
}
@media only screen and (max-width: 320px) {
    .show-768 {
        display: none !important;
    }
    
    .show-mobile {
        display: block !important;
    }


    .show-320 {
        display: block !important;
    }

    .show-321 {
        display: none !important;
    }


    .FlagCountry img {
        width: 50px;
        margin: 10px;
        padding-left: 2px;
    }


    .ly1-titulo {
        font-size: 20px !important;
    }

    .Regiones {
        /* width: 1100px; */
        width: 95%;
        margin: auto;
        padding-top: 28%;
        padding-bottom: 3%;
    }


    .countrybox h5 {
        font-size: 18px !important;
    }

    .uno-st8 {
        font-size: 13px !important;
    }

    #ly2-img {
        width: 10% !important;
    }

    #ly2-titulo {
        font-size: 24px !important;
    }

    #ly2-downtext {
        padding-top: 35px !important;
        font-size: 16px !important;
    }

    #ly3-h3 {
        padding-left: 5% !important;
        padding-right: 5% !important;
        font-size: 19px !important;
    }

    #ly2-TabsExportImport {
        margin-top: 122px;
    }

    #LinkNav2e {
        width: 100% !important;
        margin-left: 4px !important;
        margin-right: 5px !important;
    }

    #home-tab-s {
        width: 48% !important;
    }

    .ly2-tab-content {
        width: 95% !important;
        height: 950px !important;
    }

    #ly2-PanelCentral {
        width: 92% !important;
    }

    .nav-tabs > li {
        width: 49%;
    }

    #ly2-home-tab {
        width: 49% !important;
    }

    .EnterpriseBox h5 {
        font-size: 20px !important;
    }

    .EnterpriseBox h3 {
        font-size: 20px !important;
        padding-right: 10px !important;
    }

    .EnterpriseBox img {
        width: 14% !important;
    }

    .DetailsBox {
        padding-right: 10px !important;
    }

    .ly2-noempresas {
        width: 299px !important;
    }


    .Marquee {
        width: 89% !important;
    }

    .ContainerBox .row {
        margin-right: -38px !important;
        margin-left: -39px !important;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 233px;
    }

    .Marquee .TittleMarquee img {
        width: 11% !important;
    }


    /*  Layout3  */
    #ly3-titulo {
        font-size: 19px;
        padding-top: 8% !important;
        padding-left: 0px !important;
    }

    #ly3-row-flexbox {
        display: inline-block;
        margin-left: -63px;
        margin-bottom: 8px;
    }

    #t_buscarl3 {
        padding-left: 0% !important;
    }

    #ly3-h4 {
        font-size: 18px !important;
        padding-left: 10px !important;
        text-align: center;
        margin-top: -13px;
    }

    .ly3-DetailsBoxResume-h3 {
        font-size: 22px !important;
    }

    .ly3-DetailsBoxResume-h4 {
        font-size: 22px !important;
    }


    .ly3-InfoGeneral {
        width: 99% !important;
        padding-left: 49px !important;
    }
    /*header tabla*/
    .l3-columna1 {
        text-align: left !important;
        width: 50%;
        font-size: 11px;
        padding-right: 0px;
        padding-left: 6px;
    }

    .hidden {
        display: none;
    }

    .l3-columna2 {
        text-align: right !important;
        font-size: 11px !important;
        padding-left: 0px !important;
        width: 23% !important;
    }

    .true-empresa,
    .false-empresa,
    .true-usd,
    .false-usd {
        color: #00BAEF;
    }

    .usd-col {
        color: rgb(0, 186, 239);
        font-size: 11px;
        width: 40%;
    }

    .hidden-lg,
    .hidden-md,
    .hidden-sm,
    .hidden-xs {
        display: none;
    }

    .view-sub-cats {
        display: inline;
    }


    .ly3-col-usd {
        font-size: 10px;
    }

    .TableSortCat-Header {
        width: 99% !important;
        margin-top: 15px;
    }

    .TableSortCat {
        width: 99% !important;
    }

    .ly3-subcatgories {
        display: none !important;
    }

    #empresasCol {
        width: 25% !important;
    }


    /*fin header tabla*/

    /*detalle de la tabla*/

    .ly3-col-datos1 {
        width: 60px !important;
        font-size: 11px !important;
        padding-right: 5px !important;
    }

    .ly3-col-datos2 {
        display: none !important;
    }


    .ly3-col-datos3 {
        font-size: 11px !important;
        width: 12% !important;
    }

    .ly3-col-datos4 {
        font-size: 11px !important;
        width: 23% !important;
    }

    header h1 {
        font-size: 19px;
        padding-top: 8% !important;
        padding-left: 21px !important;
    }

    .inner-header-country img {
        width: 10%;
    }

    .ly4-header {
        height: 125px !important;
    }

    .LinksNav {
        width: 101%;
        margin: auto;
        padding-top: 5px !important;
    }

    .InfoGeneral .flexbox {
        display: flex;
        flex-direction: column;
    }


    .t_buscar_export_empresa {
        width: 309px !important;
        padding-top: 3px !important;
        padding-left: 8% !important;
    }

    .t_buscar_export_producto {
        width: 307px !important;
        padding-top: 3px !important;
        padding-left: 3% !important;
    }

    .BoxCategory {
        margin-right: 57px !important;
        width: 310px !important;
    }

    .DetailsCat h5 {
        font-size: 11px !important;
    }

    .NameCat h4 {
        font-size: 11px !important;
        width: 330px;
    }

    .NameCat-producto h4 {
        font-size: 11px !important;
        width: 475px !important;
    }

    

    .TabsCategories {
        width: 97% !important;
        margin-left: 6px !important;
        margin-right: 27px !important;
    }

    .TabsCategoriesProducto {
        width: 97% !important;
        margin-left: 6px !important;
        margin-right: 27px !important;
    }


    #subcategoriax {
        /*  margin-right: 36px !important;*/
        font-size: 10px;
        margin-right: -10px !important;
    }

    #ultimox {
        margin-right: 42px !important;
    }

    .TabsCatsHeader h4 {
        font-size: 11px !important;
        gap: 0px !important;
        padding-left: 37px;
    }

 /*   .rowlinetable {
        margin-left: -28px !important;
    }*/

    .rowlinetable-export-empresa {
        margin-left: -28px !important;
    }

    .rowlinetable-export-producto {
        margin-left: -9px !important;
    }
    

    #ly4-col2 {
        /*margin-right: -30px !important;*/
        margin-right: -7px !important;
    }

    .ly4-fila-datos {
        width: 168px !important;
        min-width: 168px !important;
    }

    .ly4texto-fila-datos {
        padding-left: 23px !important;
        min-width: 203px !important;
        width: 203px !important;
    }

    .ButtonSubCat {
        margin-left: 2px;
    }

    .USD-export-empresa {
        padding-left: 27px !important;
    }

    .USD-export-producto {
        padding-left: 5px !important;
    }

    .panel-default > .panel-heading {
        width: 306px !important;
        padding-left: 5px !important;
    }

    .ly4-header {
        height: 121px;
    }


    #txtEmpresaMo {
        margin-left: -7px !important;
        margin-right: 0px;
        padding-top: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
        min-width: 301px !important;
    }

    .DetailsBoxResume h3, h4 {
        margin-right: 14px !important;
        text-align:center !important;
    }

    #subcategoriaxm {
        padding-left: 30px !important;
        margin-right: -10px !important;
    }

    .l4tblheader {
        width: 134px !important;
    }

    #headerl3 {
        height: 124px !important;
    }

    .breadcumb-l3 {
        padding: 7px 0px !important;
    }

    .l3-columna1 {
        width: 25% !important;
    }

    .header-number-importacion-producto {
        margin-right: -3px !important;
    }

    .custom-h4-mobile-producto {
        margin-right: -8px !important;
        font-size: 12px !important;
        text-align: left !important;
        padding-right: 163px;
    }

    .custom-h4-mobile-empresa {
        margin-right: -8px !important;
        font-size: 12px !important;
        text-align: left !important;
        padding-right: 163px;
    }


}
